





.headingcontainer{
    width: 300px;
    background-color: blanchedalmond;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-bottom: auto; */
}